@page "/pagos"
@using Anun.WEB.Repositories
@using Anun.WEB.Shared
@using Anun.SHARED.Entities
@using Anun.WEB

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h1>PagosIndex</h1>

@if (Pagos is null)
{
    <div class="spinner" />
}
else
{
    <GenericList MyList="Pagos">
        <Body>
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-credit-card"></i> Pagos
                        <a class="btn btn-sm btn-primary float-end" href="/Pagos/create"><i class="oi oi-plus"></i> Crear Pago</a>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-2" style="display: flex; flex-wrap: wrap; align-items: center;">
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Cliente</th>
                        <th>Anuncio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pago in Pagos!)
                    {
                        <tr>
                            <td>@pago.Fecha</td>
                            <td>@pago.monto</td>
                            <td>@pago.Cliente?.Nombrecompleto</td>
                            <td>@pago.Anuncio?.Nombre</td>
                            <td>
                                <a href="/Pagos/edit/@pago.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(pago))><i class="oi oi-trash" /> Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}

@code {
    public List<Pago> Pagos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.GetAsync<List<Pago>>("/api/pagos");
        Pagos = responseHppt.Response!;
    }

    private async Task DeleteAsync(Pago pago)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
        {
            Title = "Confirmación",
            Text = "¿Está seguro de que quiere borrar el registro?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true
        });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync<Pago>($"api/pagos/{pago.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
